---
- name: Check if swap file exists
  ansible.builtin.stat:
    path: "{{ swap_file }}"
  register: swap_file_stat

- name: Allocate swap file
  ansible.builtin.command: "fallocate -l {{ swap_size }} {{ swap_file }}"
  when: not swap_file_stat.stat.exists

- name: Set swap file permissions
  ansible.builtin.file:
    path: "{{ swap_file }}"
    mode: '0600'
  when: not swap_file_stat.stat.exists

- name: Make swap
  ansible.builtin.command: "mkswap {{ swap_file }}"
  when: not swap_file_stat.stat.exists

- name: Check if swap is active
  ansible.builtin.command: "swapon --show --noheadings --raw | grep '^{{ swap_file }}'"
  register: swap_active
  ignore_errors: yes
  changed_when: false

- name: Enable swap
  ansible.builtin.command: "swapon {{ swap_file }}"
  when: swap_active.rc != 0

- name: Add swap to fstab
  ansible.builtin.lineinfile:
    path: /etc/fstab
    line: "{{ swap_file }} none swap sw 0 0"
    state: present