- name: Ensure locales package is installed
  ansible.builtin.apt:
    name: locales
    state: present
  become: true

- name: Generate en_US.UTF-8 locale
  ansible.builtin.command: locale-gen en_US.UTF-8
  become: true
  changed_when: false

- name: Set default locale
  ansible.builtin.lineinfile:
    path: /etc/default/locale
    regexp: '^LANG='
    line: 'LANG=en_US.UTF-8'
  become: true