- name: Update apt cache
  apt:
    update_cache: yes

- name: Install base packages
  apt:
    name:
      - apt-transport-https
      - ca-certificates
      - gnupg
      - curl
      - lsb-release
    state: present
