- name: Assert Koha runtime facts exist
  assert:
    that:
      - ansible_local.koha is defined
      - ansible_local.koha.db_name is defined
      - ansible_local.koha.db_user is defined
      - ansible_local.koha.db_pass is defined
    fail_msg: "Koha runtime facts are missing; instance not initialized yet"


- name: Ensure authorised values
  community.mysql.mysql_query:
    login_db: "{{ ansible_local.koha.db_name }}"
    login_user: "{{ ansible_local.koha.db_user }}"
    login_password: "{{ ansible_local.koha.db_pass }}"
    query: |
      INSERT INTO authorised_values (category, authorised_value, lib)
      VALUES ('{{ item.category }}', '{{ item.value }}', '{{ item.label }}')
      ON DUPLICATE KEY UPDATE lib=VALUES(lib);
  loop: "{{ authorised_values }}"