---
- name: Remove default Apache sites
  ansible.builtin.file:
    path: "{{ item }}"
    state: absent
  loop:
    - /etc/apache2/sites-available/000-default.conf
    - /etc/apache2/sites-available/default-ssl.conf

- name: Enable required Apache modules
  ansible.builtin.command: "a2enmod {{ item }}"
  args:
    creates: "/etc/apache2/mods-enabled/{{ item }}.load"
  loop:
    - rewrite
    - cgi
    - headers
    - proxy_http
  notify: Restart Apache