- name: Koha TEST
  hosts: tag_test:&tag_koha
  become: true

  vars:
    koha_instance: "bib"
    koha_domain: ".marxisme.be"
    koha_suite: "25.05"

    apt_packages:
      - apt-transport-https
      - ca-certificates
      - curl
      - sudo
      - apache2
      - mariadb-server
      - koha-common

    apt_gpg_keys:
      - url: https://debian.koha-community.org/koha/gpg.asc
        dest: /etc/apt/keyrings/koha.asc

    apt_extra_repos:
      - dest: /etc/apt/sources.list.d/koha.sources
        content: |
          Types: deb
          URIs: https://debian.koha-community.org/koha/
          Suites: {{ koha_suite }}
          Components: main
          Signed-By: /etc/apt/keyrings/koha.asc

  roles:
    - common_apt
    - swap
    - koha