# refactored version of koha-test-onepager
- name: Koha TEST
  hosts: test
  become: true

  vars:
    koha_instance: "bib-test"
    koha_domain: ".marxisme.be"
    koha_suite: "25.05"
    swap_file: "/swapfile"
    swap_size: "2G"

    apt_gpg_keys:
      - url: https://debian.koha-community.org/koha/gpg.asc
        dest: /etc/apt/keyrings/koha.asc

    apt_extra_repos:
      - dest: /etc/apt/sources.list.d/koha.sources
        content: |
          Types: deb
          URIs: https://debian.koha-community.org/koha/
          Suites: {{ koha_suite }}
          Components: main
          Signed-By: /etc/apt/keyrings/koha.asc

    apt_packages:
      - apt-transport-https
      - ca-certificates
      - curl
      - sudo
      - apache2

    # Koha packages in de juiste volgorde
    koha_packages_db:
      - mariadb-server

    koha_packages_pre_db:
      - koha-common

  roles:
    - common_apt
    - swap
    - koha